/* Global Styles */
html 
{
    height: 100%;
    width: 100%;
}

body
{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

/* Div Styles */

.content
{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.content_grid
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


#Page
{
    width: 100%; 
    height: 100%;
    background-image: url("/images/mhwbackground.png");
    
}

#season_title
{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large; 
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    display: flex;
    justify-content: center;
}


/* Section Styles */

#Section_navbar
{
    width: 100%;
    height: auto;
}

#Section_content
{
    width: 100%;
    height: 70%;
}

#Section_items
{
    width: 100%;
    height: 25%;
}

/* navbar styles */

.Navbar
{
    width: 100%; 
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    gap: 20px;
}

.Navbar_item
{
    /* background-color:cornflowerblue; */
    height: 50px;
    display: flex;
    align-items: center;
}


.Navbar_text
{
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: antiquewhite;
    font-weight: 100;
    margin: 30px;
    filter: drop-shadow(1px 1px 2px white);
}

.Navbar_text_active
{
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: greenyellow;
    font-weight: 100;
    margin: 30px;
    filter: drop-shadow(1px 1px 2px white);
}


/* Grid styles (LEFT) */

#gridL_top_title
{
    flex-grow: 0.5;
    background-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#gridL_top_progress
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;    
    color: black;
    border-style: double;
    box-sizing: border-box;
    border: 5px solid black;
    
}

#content_gridL
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 2%;
    padding: 0%;
    z-index: 1;
}

#gridL_bottom
{  
    
    width: 55%;
    height: 100%;
    /* margin-left: 25%; */
}

#gridL_bottom_text
{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 65%;   
    background-color: black;
}

#gridL_main_content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#gridL_top
{
    display: flex;
    /* align-items: stretch; */
    flex-direction: column;
    width: 55%;
    /* margin-left: 25%; */
    margin-top: 10%;
    background-color: aliceblue;
}

#gridL_top_mid 
{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    width: 100%;
    height: 100%;
}

#img_season1
{
    box-sizing: border-box;
    border: 10px solid whitesmoke;
    max-height: 100%;
    width: 100%;


}


#exp_text
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-width: 50%;
    max-width: 100%;
}

#description_text
{
    font-size: 16px;
    color: white;
    padding: 1%;
    margin: 0%;
    box-sizing: border-box;
    border: 5px solid whitesmoke;  
}

#progressbar
{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 68, 29);  
}

#currentlevel
{
    background-color: black;
    width:10%;
    height: 100%;
    color: white;
    align-items: center;
    justify-items: center;
}

#season_subtitle
{
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large; 
    margin: auto;
}


/* Grid styles (CENTER) */
#content_gridC
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 0;
    padding: 0%;
    z-index: 1;
}

#gridC_top
{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gridC_bottom
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#itemname
{
    color: white; 
    font-size: large;
}

#itemunlocked
{
    text-shadow: 2px 2px #000; 
    color: white;
    padding: 0%;
    margin: 5px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: x-large; 
}

#passunlocked
{
    background-color: rgb(5, 68, 29);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    box-sizing: border-box;
    border: 5px solid black;  
}

#mainactor
{
    border-style: dashed;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;    
    z-index: 1;
}


/* Grid bottom content */

.content_gridB
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.gallery
{
    display: flex;
    width: 80%;
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px;
    gap: 2%;
}

.itemimg
{
    border-radius: 10%;
    width: 80%;
    max-height: 80%;
    src: ("/images/BP-img_Dapperwing.png");
    box-sizing: border-box;
    border: 5px solid whitesmoke; 
}

/* Grid right content */

#content_gridR
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 0;
    padding: 0%;
    z-index: 1;
}


#gridR_main
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#gridR_main_content
{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


#thumbnail_img
{
    box-sizing: border-box;
    border: 10px solid whitesmoke; 
    width: 100%;
    height: 100%;
}


#cost_text
{
    background-color: #000;
}


#thumbnail_cost
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: white;
    background-color: black;
    width: 100%;
}


#thumbnail_description
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
    background-color: #000;
    width: 100%;
}

@keyframes expandWidth 
{
    0% { width: 0; }
    100% { width: auto; }
}

@media (min-width: 1920px) and (max-height: 1280px)
{
    #content_gridL 
    {
        height: 30%;
        width: 100%;
    }
    #content_gridC
    {
        height: 80%;
        width: 100%;
    }
    #content_gridR 
    {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1280px) and (max-height: 720px)
{
    #content_gridL 
    {
        height: 30%;
        width: 100%;
    }
    #content_gridC
    {
        height: 45%;
        width: 100%;
    }
    #content_gridR 
    {
        height: 65%;
        width: 100%;
    }

    #season_title
    {
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        font-size: large;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        display: flex;
        justify-content: center;
    }

    #Section_items 
    {
        width: 100%;
        height: 23%;
    }

    #gridL_bottom_text 
    {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 100%;
        max-height: 40%;
        background-color: black;
    }
}



@media (min-width: 1280px) and (max-height: 720px) 
{
    .gallery
    {
        display: none;
    }

}

/* #content_gridC
{
    height: 87%;
}

#gridL_bottom_text
{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 43%;
    background-color: black;
}



#content_gridL 
{
    width: 77%;
}

@media (max-height: 1028px) 
{

#content_gridC
{
    height: 67%;
}
#content_gridL 
{
    height: 50%;
}

}

@media (max-height: 720px) 
{
    #content_gridC
    {
        height: 40%;
    }
    #content_gridL 
    {
        height: 30%;
        width: 100%;
    }
    #content_gridR 
    {
        height: 77%;
        width: 100%;
    }


} */