/* Global Styles */
html 
{
    height: 100%;
    width: 100%;
}

body
{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}



/* Div Styles */

.content
{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.content_grid
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


#Page
{
    width: 100%; 
    height: 100%;
    background-image: url("/images/mhwbackground.png");
    
}

#season_title
{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large; 
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    display: flex;
    justify-content: center;
    /* margin: 20px 0 0 0; */
}


/* Section Styles */

#Section_navbar
{
    width: 100%;
    height: auto;
}

#Section_content
{
    width: 100%;
    height: 70%;
}

#Section_items
{
    width: 100%;
    height: 25%;
}

/* navbar styles */

.Navbar
{
    width: 100%; 
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    gap: 20px;
}

.Navbar_item
{
    /* background-color:cornflowerblue; */
    height: 50px;
    display: flex;
    align-items: center;
}


.Navbar_text
{
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: antiquewhite;
    font-weight: 100;
    margin: 30px;
    filter: drop-shadow(1px 1px 2px white);
}

.Navbar_text_active
{
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: greenyellow;
    font-weight: 100;
    margin: 30px;
    filter: drop-shadow(1px 1px 2px white);
}


/* Grid styles (LEFT) */

#gridL_top_title
{
    flex-grow: 0.5;
    background-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#gridL_top_progress
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;    
    color: black;
    border-style: double;
    box-sizing: border-box;
    border: 5px solid black;
    
}

#content_gridL
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 2%;
    padding: 0%;
    z-index: 1;
}

#gridL_bottom
{  
    
    width: 55%;
    height: 100%;
    margin-left: 25%;
}

#gridL_bottom_text
{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    height: 100%;   
    background-color: black;
}

#gridL_top
{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 55%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: aliceblue;
}

#gridL_top_mid 
{
    opacity: 100%;
    box-sizing: border-box;
    border: 10px solid whitesmoke;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("/images/BP-img_Season1.png");
    background-repeat: no-repeat;
}

#exp_text
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-width: 50%;
    max-width: 100%;
}

#description_text
{
    font-size: 16px;
    color: white;
    padding: 1%;
    margin: 0%;
    box-sizing: border-box;
    border: 5px solid whitesmoke;  
}

#progressbar
{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 68, 29);  
    /* font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large; */
}

#currentlevel
{
    background-color: black;
    width:10%;
    height: 100%;
    /* border-radius: ; */
    color: white;
    align-items: center;
    justify-items: center;
}

#season_subtitle
{
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large; 
    margin: auto;
}


/* Grid styles (CENTER) */
#content_gridC
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 0;
    padding: 0%;
    z-index: 1;
}

#gridC_top
{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gridC_bottom
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#itemname
{
    color: white; 
    font-size: large;
}

#itemunlocked
{
    text-shadow: 2px 2px #000; 
    color: white;
    padding: 0%;
    margin: 5px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: x-large; 
}

#passunlocked
{
    background-color: rgb(5, 68, 29);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    box-sizing: border-box;
    border: 5px solid black;  
}

#mainactor
{
    border-style: dashed;
    /* border-radius: 20%; */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;    
    z-index: 1;
}


.content_gridB
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.gallery
{
    display: flex;
    width: 80%;
    height: 100%;
  
    /* font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100; */

    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 2%;
    
}

.desc
{
    display: flex;
    width: auto;
    height: auto;
    justify-content:center;
    align-items: center;
} 

.itemimg
{
    border-radius: 10%;
    width: 100%;
    max-height: 100%;
    src: ("/images/BP-img_Dapperwing.png");
    box-sizing: border-box;
    border: 5px solid whitesmoke; 
}

#content_gridR
{
    height: 75%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    padding: 0%;
    z-index: 1;
}

#gridR_main
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    margin-top: 10%;
    box-sizing: border-box;
    border: 5px solid whitesmoke; 
}

#thumbnail_img
{
    width: 100%;
    height: 100%;
}


#thumbnail_description
{
    height: 100%;
    width: 100%;
    color: white;
    background-color: #000;
}

@keyframes expandWidth 
{
    0% { width: 0; }
    100% { width: auto; }
}
